body {
  height: 100vh;
  overflow-x: hidden;
  padding-left: 5vw;
  padding-right: 5vw;
}
#root {
  margin-top: 5vw;
}
#root section:nth-of-type(1) {
  margin-top: 10vw;

  gap: 3vw;
}
#root section:nth-of-type(1) > div {
  width: 20vw;
  height: 10vw;
  line-height: 10vw;
  text-align: center;
}
#root section:nth-of-type(2) > p {
  font-size: 32px;
  text-align: center;
  margin-top: 5vw;
  height: 40vh;
  line-height: 40vh;
}
